<mat-toolbar class="custom-toolbar">
  <mat-toolbar-row class="toolbar-row">
    <img class="logo-image" mat-card-image
         src="https://multilojaonline.vtexassets.com/assets/vtex.file-manager-graphql/images/42a1bb8e-d1ad-44d7-b083-12232c929237___edb56e394a1121fa399d1e8a44a74ad3.png"
         alt="Photo of a multilojaonline">
    <span class="toolbar-text"></span>
    <span class="example-spacer"></span>
    <button (click)="navigateTocarrinhocompra()" pButton type="button" class="cart-carrinho">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="toolbar-001">
  <mat-toolbar-row class="search">
    <div>
      <input placeholder="Pesquisa"/>
      <mat-icon>search</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-menu-list></app-menu-list>


